vendor
node_modules
.env.local
.env.local.*
.git
.gitignore
README.md
*.md
var/cache/dev
var/log/*
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vscode
.idea
*.swp
*.swo
docker-compose*.yml
Dockerfile.prod
nginx.prod.conf