<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache"
    colors="true"
>

    <php>
        <env name="APP_ENV" value="test"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
        <env name="LOCK_DSN" value="flock"/>
        <env name="CORS_ALLOW_ORIGIN" value="http://localhost:5173"/>
        <env name="JWT_SECRET_KEY" value="%kernel.project_dir%/config/jwt/private.pem"/>
        <env name="JWT_PUBLIC_KEY" value="%kernel.project_dir%/config/jwt/public.pem"/>
        <env name="JWT_PASSPHRASE" value="387be5eac305348e200e9fd0f9f74d51093d9043ff9c64f5ebb1997ce7b01beb"/>

        <server name="DATABASE_URL" value="mysql://root:connexion_2024&amp;@127.0.0.1:3306/bdd_test_flight_reservation?serverVersion=8.0.32&amp;charset=utf8mb4"/>
    </php>

    <testsuites>
        <testsuite name="Application">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <extensions>
        <bootstrap class="DAMA\DoctrineTestBundle\PHPUnit\PHPUnitExtension"/>
    </extensions>

</phpunit>